
<div id="left-sidebar-div">
    <form>
    <div class="list-group" >
      <a [routerLink]="" (click)="getContinentData('Africa')" class="list-group-item list-group-item-action" data-title="Continent">
        Africa
      </a>
      <a [routerLink]="" (click)="getContinentData('Americas')" class="list-group-item list-group-item-action" data-title="Continent"> Americas</a>
      <a [routerLink]="" (click)="getContinentData('Asia')" class="list-group-item list-group-item-action" data-title="Continent">Asia</a>
      <a [routerLink]="" (click)="getContinentData('Europe')" class="list-group-item list-group-item-action" data-title="Continent">Europe</a>
      <a [routerLink]="" (click)="getContinentData('Oceania')" class="list-group-item list-group-item-action" data-title="Continent">Oceania</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true"> ... </a>
    </div>
    <div>
      <div class="list-group-item list-group-item-action div-input" data-title="Sarch for Country">
        <input class="form-control" name="country" list="countries" placeholder="Country">
        <datalist id = "countries">
            <option value="India"></option>
        </datalist>
      </div>
      <div class="list-group-item list-group-item-action div-input" data-title="Search for States" >
        <input class="form-control" #stateVal name="state" list="states" placeholder="State" (blur)="stateUpdate(stateVal)">
        <datalist id = "states">
            <option *ngFor="let stateList of states" value="{{stateList.state}}">
            </option>
        </datalist>
      </div>
      <div class="list-group-item list-group-item-action div-input" data-title="Search for Districts">
        <input class="form-control" name="district" list="districts" placeholder="District" >
        <datalist id = "districts">
            <option *ngFor="let district of districtList" value="{{district}}"></option>
        </datalist>
      </div>
    </div>
    </form>
  </div>
  
  <div id="dataSection">
      <h1>Jay Ram G ki</h1>
      <div id="div-continent-summary">
        <h5>Total countries: {{continentData.length}}</h5>
      </div>
      <div class="div-country-details" *ngFor="let continent of continentData">
        <div class="media country"> 
          <img src="{{continent.flag}}" class="align-self-center mr-3" alt="{{continent.flag}}" data-title="Country: {{continent.name}} &#013;Capital: {{continent.capital}} &#013;Currency:{{continent.currencies[0].name}}">
          
            <div class="media-body" style="align-self: center;">
              <div>
                  <h4 class="mt-0" data-title="Country">{{continent.name}}</h4>
                  <h6 data-title="Capital is {{continent.capital}}">[ {{continent.capital}} ]</h6>                
              </div>
          </div>
          <div class="media-body">
                <div class="card" style="width: 19rem;">
                  <div class="card-header info">
                    <span>Native Name: </span>
                    <span style="color: gray;">{{continent.nativeName}}</span>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <span>Currency: </span>
                    <span style="color: gray;">{{continent.currencies[0].name}}  |  {{continent.currencies[0].code}}  |  {{continent.currencies[0].symbol}}</span>
                    </li>
                  </ul>
                </div>
          </div>
         
          <div class="media-body">
                <div class="card" style="width: 30rem;">
                  <div class="card-header info">
                    <span>Time Zone : </span>
                    <span *ngFor="let zones of continent.timezones" style="color: gray;">{{zones}}</span>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <table>
                        <tr>
                          <td><span>Borders : </span></td>
                          <td *ngFor="let borders of continent.borders" style="color: gray;">{{borders}} &nbsp;</td>
                        </tr>
                      </table>
                    </li>
                 </ul>
                </div>
          </div>
        </div>
        <hr>
      </div>
  </div>